body {
    padding: 3%;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    font-size: 36px;
    display: flex;
    flex-direction: column;
}

.rectangles .rectangle {
    display: inline-block;
    position: relative;
}

.rectangles .rectangle .circle {
  border-radius: 100%;
  position: absolute;
}

.radius {
    position: absolute;
    width: 50%;
    height: 3px;
    left: 50%;
    top: 50%;
    background: black;
    transform-origin: left center;
  }

.grid-obstacle {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.grid-empty {
    background-color: white;
}

.grid-goal {
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 0px;
    z-index: -100;
    position: absolute
}

.world-container {
    position: relative;
    width: 850px;
    height: 850px;
    border: 1px solid black;
    overflow: hidden;
}

#worldrobot {
    position: absolute;
}

#worldgoal {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    z-index: -1000;
}

#robotControlButtons button {
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#worldboundary {
    position: absolute;
}