body {
    padding: 3%;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    font-size: 36px;
    display: flex;
    flex-direction: column;
}

.rectangles .rectangle {
    display: inline-block;
    border: 1px solid #000;
    position: relative;
}

.rectangles .rectangle .circle {
  background: #aaa;
  border-radius: 100%;
  position: absolute;
}

.grid-obstacle {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.grid-empty {
    background-color: white;
}

.grid-goal {
    background-color: green;
    margin: 0px;
    padding: 0px;
}

.world-container {
    position: relative;
    width: 750px;
    height: 750px;
    border: 1px solid black;
}

#worldrobot {
    position: absolute;
}

#worldgoal {
    position: absolute;
    z-index: -100;
}